<div class="navigation">

  <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
  <%= link_to 'Edit Details', edit_user_registration_path, method: :get %>
  <h4><%= current_user.first_name + " " + current_user.last_name %></h4>

</div>

<div class="nutrition-graphs">

<p>This is where the graphs will go.</p>

</div>

<div class="direct-to-log">

  <%= link_to 'Add Entry to Log', new_intake_path, method: :get %>
  <%= link_to 'View Log', controller: 'intakes' %>
  <!-- <%= link_to 'Back', user_session_path, method: :get %> -->

</div>
