<div class="dashboard-container">

<h2>Today's Intake</h2>

<h3>Macro Ratio</h3>


    <%= pie_chart [
      ["Protein (g)", @protein_consumed],
      ["Fat (g)", @fat_consumed],
      ["Carbohydrates (g)", @carbs_consumed]
    ] %>

<h3>Macros and Calories</h3>

    <%= column_chart [
      ["Calories (kcal)", @calories_consumed],
      ["Protein (g)", @protein_consumed],
      ["Fat (g)", @fat_consumed],
      ["Carbohydrates (g)", @carbs_consumed]
      ], height: "300px" %>

<h3>Vitamins</h3>

<%= column_chart [
  ["Vitamin C (mg)", @vitamin_c_consumed],
  ["Thiamin (mg)", @thiamin_consumed],
  ["Riboflavin (mg)", @riboflavin_consumed],
  ["Niacin (mg)", @niacin_consumed],
  ["Vitamin B6 (mg)", @vitamin_b6_consumed],
  ["Folate DFE (mg)", @folate_consumed],
  ["Vitamin B12 (μg)", @vitamin_b12_consumed],
  ["Vitamin A (μg)", @vitamin_a_consumed],
  ["Vitamin E (mg)", @vitamin_e_consumed],
  ["Vitamin D (μg)", @vitamin_d_consumed],
  ["Vitamin K (μg)", @vitamin_k_consumed],
  ], height: "300px" %>

<h3>Minerals</h3>

<%= column_chart [
  ["Calcium (mg)", @calcium_consumed],
  ["Iron (mg)", @iron_consumed],
  ["Magnesium (mg)", @magnesium_consumed],
  ["Phosphorus (mg)", @phosphorus_consumed],
  ["Potassium (mg)", @potassium_consumed],
  ["Sodium (mg)", @sodium_consumed],
  ["Zinc (μg)", @zinc_consumed],
  ], height: "300px" %>

<h3>Fats</h3>

<%= column_chart [
  ["Saturated Fatty Acids (g)", @saturated_fat_consumed],
  ["Monounsaturated Fatty Acids (g)", @mono_fat_consumed],
  ["Polyunsaturated Fatty Acids (g)", @poly_fat_consumed],
  ["Trans Fatty Acids (g)", @trans_fat_consumed],
  ["Cholesterol (mg)", @cholesterol_consumed],
  ], height: "300px" %>

<h2>Recent Intake</h2>

<h3>Macros</h3>

  <%= line_chart [
    {name: "Protein (g)", data: @protein_over_time
      .group_by_day(:logged_date, range: 7.days.ago.midnight..Time.now,
      format: "%B %d, %Y").sum(:protein_g), width: "50%"},
    {name: "Carbohydrates (g)", data: @carbs_over_time
      .group_by_day(:logged_date, range: 7.days.ago.midnight..Time.now,
      format: "%B %d, %Y").sum(:carbohydrate_g), width: "50%"},
    {name: "Fats (g)", data: @fat_over_time
      .group_by_day(:logged_date, range: 7.days.ago.midnight..Time.now,
      format: "%B %d, %Y").sum(:total_fat_g), width: "50%"}
    ] %>

<h3>Vitamins</h3>

<%= line_chart [
  {name: "Vitamin C (mg)", data: @vitamin_c_over_time
    .group_by_day(:logged_date, range: 7.days.ago.midnight..Time.now,
    format: "%B %d, %Y").sum(:vitamin_c_mg), width: "50%"},
  {name: "Thiamin (mg)", data: @thiamin_over_time
    .group_by_day(:logged_date, range: 7.days.ago.midnight..Time.now,
    format: "%B %d, %Y").sum(:thiamin_mg), width: "50%"},
  {name: "Riboflavin (mg)", data: @riboflavin_over_time
    .group_by_day(:logged_date, range: 7.days.ago.midnight..Time.now,
    format: "%B %d, %Y").sum(:riboflavin_mg), width: "50%"},
  {name: "Niacin (mg)", data: @niacin_over_time
    .group_by_day(:logged_date, range: 7.days.ago.midnight..Time.now,
    format: "%B %d, %Y").sum(:niacin_mg), width: "50%"},
  {name: "Vitamin B6 (mg)", data: @vitamin_b6_over_time
    .group_by_day(:logged_date, range: 7.days.ago.midnight..Time.now,
    format: "%B %d, %Y").sum(:vitamin_b_6_mg), width: "50%"},
  {name: "Folate (μg)", data: @folate_over_time
    .group_by_day(:logged_date, range: 7.days.ago.midnight..Time.now,
    format: "%B %d, %Y").sum(:folate_dfe_μg), width: "50%"},
  {name: "Vitamin B12 (μg)", data: @vitamin_b12_over_time
    .group_by_day(:logged_date, range: 7.days.ago.midnight..Time.now,
    format: "%B %d, %Y").sum(:vitamin_b_12_μg), width: "50%"},
  {name: "Vitamin A (μg)", data: @vitamin_a_over_time
    .group_by_day(:logged_date, range: 7.days.ago.midnight..Time.now,
    format: "%B %d, %Y").sum(:vitamin_a_rae_μg), width: "50%"},
  {name: "Vitamin E (mg)", data: @vitamin_e_over_time
    .group_by_day(:logged_date, range: 7.days.ago.midnight..Time.now,
    format: "%B %d, %Y").sum(:vitamin_e_mg), width: "50%"},
  {name: "Vitamin D (μg)", data: @vitamin_d_over_time
    .group_by_day(:logged_date, range: 7.days.ago.midnight..Time.now,
    format: "%B %d, %Y").sum(:vitamin_d_μg), width: "50%"},
  {name: "Vitamin K (μg)", data: @vitamin_k_over_time
    .group_by_day(:logged_date, range: 7.days.ago.midnight..Time.now,
    format: "%B %d, %Y").sum(:vitamin_k_μg), width: "50%"}
  ] %>

<h3>Minerals</h3>

<%= line_chart [
  {name: "Calcium (mg)", data: @calcium_over_time
    .group_by_day(:logged_date, range: 7.days.ago.midnight..Time.now,
    format: "%B %d, %Y").sum(:calcium_mg), width: "50%"},
  {name: "Iron (mg)", data: @iron_over_time
    .group_by_day(:logged_date, range: 7.days.ago.midnight..Time.now,
    format: "%B %d, %Y").sum(:iron_mg), width: "50%"},
  {name: "Magnesium (mg)", data: @magnesium_over_time
    .group_by_day(:logged_date, range: 7.days.ago.midnight..Time.now,
    format: "%B %d, %Y").sum(:magnesium_mg), width: "50%"},
  {name: "Phosphorus (mg)", data: @phosphorus_over_time
    .group_by_day(:logged_date, range: 7.days.ago.midnight..Time.now,
    format: "%B %d, %Y").sum(:phosphorus_mg), width: "50%"},
  {name: "Potassium (mg)", data: @potassium_over_time
    .group_by_day(:logged_date, range: 7.days.ago.midnight..Time.now,
    format: "%B %d, %Y").sum(:potassium_mg), width: "50%"},
  {name: "Sodium (mg)", data: @sodium_over_time
    .group_by_day(:logged_date, range: 7.days.ago.midnight..Time.now,
    format: "%B %d, %Y").sum(:sodium_mg), width: "50%"},
  {name: "Zinc (mg)", data: @zinc_over_time
    .group_by_day(:logged_date, range: 7.days.ago.midnight..Time.now,
    format: "%B %d, %Y").sum(:zinc_mg), width: "50%"}
  ] %>

<h3>Fats</h3>

<%= line_chart [
  {name: "Saturated Fatty Acids (g)", data: @sat_fat_over_time
    .group_by_day(:logged_date, range: 7.days.ago.midnight..Time.now,
    format: "%B %d, %Y").sum(:saturated_fatty_acids_g), width: "50%"},
  {name: "Monounsaturated Fatty Acids (g)", data: @mono_fat_over_time
    .group_by_day(:logged_date, range: 7.days.ago.midnight..Time.now,
    format: "%B %d, %Y").sum(:monounsaturated_fatty_acids_g), width: "50%"},
  {name: "Polyunsaturated Fatty Acids (g)", data: @poly_fat_over_time
    .group_by_day(:logged_date, range: 7.days.ago.midnight..Time.now,
    format: "%B %d, %Y").sum(:polyunsaturated_fatty_acid_g), width: "50%"},
  {name: "Trans Fatty Acids (g)", data: @trans_fat_over_time
    .group_by_day(:logged_date, range: 7.days.ago.midnight..Time.now,
    format: "%B %d, %Y").sum(:trans_fatty_acid_g), width: "50%"},
  {name: "Cholesterol (mg)", data: @chol_over_time
    .group_by_day(:logged_date, range: 7.days.ago.midnight..Time.now,
    format: "%B %d, %Y").sum(:cholesterol_mg), width: "50%"}
  ] %>

</div>

<nav class="navbar navbar-default" id="footer-nav">

  <p class="navbar-text"><%= link_to 'Add Entry to Log', search_path, method: :get %></p>
  <p class="navbar-text"><%= link_to 'View Log', controller: 'intakes' %></p>
  <!-- <%= link_to 'Back', user_session_path, method: :get %> -->

</nav>
