<%= form_for @intake do |f| %>

<% if @intake.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@intake.errors.count, "error") %> prohibited
      this log from being saved:
    </h2>
    <ul>
      <% @intake.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

  <div class="field">
    <%= f.label :food %><br />
    <%= f.text_field :consumed_item, :readonly => true, :value => @foodname %>
  </div>

  <div class="hidden-field">
    <%= f.label :ndbno %><br />
    <%= f.text_field :ndbno, :readonly => true, :value => @foodndbno %>
  </div>

  <div class="field">
    <%= f.label :consumed_quantity_gm %><br />
    <%= f.number_field :consumed_qty, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :time_consumed %><br />
    <%= f.time_field :logged_time, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :date_consumed %><br />
    <%= f.date_field :logged_date, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Record to log" %>
  </div>
<% end %>
