<h1>Edit Log Record</h1>

<%= form_for :intake, url: intake_path(@intake), method: :patch do |f| %>

  <% if @intake.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@intake.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @intake.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :food %><br />
    <%= f.text_field :consumed_item, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :unit_of_measure %><br />
    <%= f.text_field :consumed_uom, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :consumed_quantity %><br />
    <%= f.number_field :consumed_qty, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :time_consumed %><br />
    <%= f.time_field :logged_time, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :date_consumed %><br />
    <%= f.date_field :logged_date, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Record to log" %>
  </div>

<% end %>

<%= link_to 'Back', intakes_path %>
