<p>
  <strong>Item Consumed:</strong>
  <%= @intake.consumed_item %>
</p>

<p>
  <strong>Quantity Consumed:</strong>
  <%= @intake.consumed_qty %>
</p>

<p>
  <strong>Time/Date Consumed:</strong>
  <%= @intake.logged_time %> <%= @intake.logged_date %>
</p>

<div class="direct-to-log">

  <%= link_to 'Edit', edit_intake_path(@intake) %> |
  <%= link_to 'Add Entry to Log', new_intake_path, method: :get %>
  <%= link_to 'View Log', controller: 'intakes' %>
  <%= link_to 'Back', intakes_path, method: :get %>

</div>
