<!DOCTYPE html>
<html>
<head>
  <title>Nutritionist's Friend</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="jumbotron header">
    <h1>Nutritionist's Friend</h1>
  </div>

<% if current_user %>
<nav class="navbar navbar-default">

    <p class="navbar-text"><%= current_user.first_name + " " + current_user.last_name %></p>
    <p class="navbar-text"><%= link_to 'Home', home_index_path, method: :get %></p>
    <p class="navbar-text"><%= link_to 'Settings', edit_user_registration_path, method: :get %></p>
    <p class="navbar-text"><%= link_to 'Food Log', controller: 'intakes' %></p>
    <p class="navbar-text"><%= link_to 'Add Food', search_path, method: :get %></p>
    <p class="navbar-text"><%= link_to 'Bodyweight Log', bodyweights_path, method: :get %></p>
    <p class="navbar-text"><%= link_to 'Add Bodyweight', new_bodyweight_path, method: :get %></p>
    <p class="navbar-text"><%= link_to 'Blog', blogs_path, method: :get %></p>
    <p class="navbar-text"><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></p>
</nav>
  <% end %>


<div class="container">
<%= yield %>
</div>


  <div class="footer">
    <li>
    <ul>This site uses the <a href="https://ndb.nal.usda.gov/ndb/api/doc">
      USDA National Nutrient Database API</a></ul>
      <ul>Copyright 2016 LukePhelan, Inc.</ul>
    </li>
  </div>

</body>
</html>
